<!-- profile_detail.html -->

<h1>{{ profile.name }}</h1>
<p>GitHub: {{ profile.github }}</p>
<p>LinkedIn: {{ profile.linkedin }}</p>
<p>Bio: {{ profile.bio }}</p>

<h2>Certificates:</h2>
<ul>
    {% for certificate in certificates %}
        <li>{{ certificate.name }} - {{ certificate.certifying_institution.name }}</li>
    {% endfor %}
</ul>

<h2>Certifying Institutions:</h2>
<ul>
    {% for institution in certifying_institutions %}
        <li>{{ institution.name }}</li>
    {% endfor %}
</ul>
